h1{
	color: #FAFAFA;
}

ol {
	padding: 50px;
	list-style-position: inside;
}

ol li {
	padding-left: 15px;
	padding-bottom: 20px;
}

ol li a {
	display: block-inline;
	padding-left: 30px;
}

a:link { text-decoration: none;color: #FAFAFA}

a:active { text-decoration:blink}

.deliverables {
	padding: 1.5em;
	background-color: #022306; 
	width: 700; 
	height: 380px; 
	position: absolute;
	left: 50%;
	top: 20%;
	bottom: 20%;
	margin-left: -380px;
	color: #FAFAFA;
}