ul {
  -webkit-box-shadow: 0px 10px 28px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 28px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 28px -6px rgba(0,0,0,0.75);
  list-style-type: none;
  top: 0;
  left: 0;
  position: webkit-sticky;
  position: sticky;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #80c34f;*/
  background-color: #FAFAFA;
  color: #022306;
  width: 100%;
}

/*
#logo{
  display: inline;
    
    height: 100%;
    width: 100%;
  display: block;
}*/

.header-image {
  position: relative;
}

.image {
	top: 0;
	left: 42%;
	width: 200px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

ul li {
  float: left;
  width: 25%;
}

ul li a {
  display: block;
  color: #022306;;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  transition: background-color 1s;
}

ul li a:hover {
  background-color: #E4D9FF;
  /*background-color: #FBEEC1;*/
  color: #022306;
}

.active {
  /*background-color: #30acec;*/
  background-color: #090748;
  color: #E4D9FF;
}

footer {
  text-align: center;
  display: block;
  color: #E4D9FF;
}